* {
    margin: 0;    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

#game-area{
    background-color: #666;
    position: fixed;
    top: 0;
    left: 0;
}

#box2d-debug{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
}
